<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linguistic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Linguistic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#services">Our Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Home Section -->

    <section class="header">
        <div class="container">
            <div class="middle">
                <h1 class="text-white fw-bold">Welcome To <span class="theme-text"> <br>Linguistic</span></h1>
                <a class="btn theme-text get-started" href="#services" role="button">Get Started</a>
            </div>
        </div>
    </section>

    <!-- Services Section -->

    <section class="services section-padding" id="services">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-6">
                <h1 class="fw-bold">Our Services</h1>
                <p>We provide many services such as image transcription and <br>English to other language conversion.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <h3 class="card-title">Text Detection</h3>
                  <p class="lead">Get the extracted text from the image.</p>
                  <a class="btn theme-text go" href="/templates/text_det.html" role="button">Go</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <h3 class="card-title">Captcha Detection</h3>
                  <p class="lead">Get the text written in a captcha image.</p>
                  <a class="btn theme-text go" href="/templates/captcha_det.html" role="button">Go</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <h3 class="card-title">Handwriting Detection</h3>
                  <p class="lead">Get the text written in handwritten Text.</p>
                  <a class="btn theme-text go" href="/templates/hand_det.html" role="button">Go</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <h3 class="card-title">Number Plate Detection</h3>
                  <p class="lead">Get the text written on a number plate.</p>
                  <a class="btn theme-text go" href="/templates/num_plate_det.html" role="button">Go</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <div class="card text-white text-center bg-dark pb-2">
                <div class="card-body">
                  <h3 class="card-title">Language Translation</h3>
                  <p class="lead">Translate any English language text to any another language.</p>
                  <a class="btn theme-text go fw-bold" href="/templates/lang_trans.html" role="button">Go</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- About Us Section -->

    <section id="team" class="team section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header text-center pb-5">
              <h2 class="fw-bold">Team</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Akash Chatterjee</h3>
                <p class="lead">Frontend Developer</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Aditya Mishra</h3>
                <p class="lead">Frontend Developer</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Abhay Verma</h3>
                <p class="lead">Backend Developer</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Aniroop Gupta</h3>
                <p class="lead">Backend Developer</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Pulkit Uppal</h3>
                <p class="lead">Backend Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
    
    <section id="contact" class="contact section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-header text-center pb-5">
              <h2 class="fw-bold">Contact Us</h2>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-12 p-0 pt-4 p-4 m-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" required placeholder="Your Full Name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="email" class="form-control" required placeholder="Your Email">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea rows="3" required class="form-control" placeholder="Your Query"></textarea>
                </div>
              </div>
              <button class="btn btn-warning btn-lg btn-block mt-3">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>